*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans", sans-serif;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

header{
    width: 100%;
    height: 7vh;
    background-color: #020617;
    opacity: 80%;
    margin-bottom: -7vh;
}

.flex-h{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo{
    font-family: "Caveat", cursive;
    font-size: 3.6rem;
    font-weight: 600;
    color: #fff;
}

.menu{
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.menu .nav-link{
    display: block;
    color: #f1f5f9;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.menu .nav-link:hover{
    color: #fb923c;
}



#cta{
    color: #fb923c;
}


.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./hero.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
}

.hero-heading, .hero-subheading{
    font-weight: 700;
    color: #f1f5f9;
    font-family: "Caveat", cursive;
    filter: brightness(90%);
}

.hero-heading{
    font-size: 8rem;
}

.hero-subheading{
    font-size: 5.6rem;
}

.cta-btn{
    background-color: #020617;
    opacity: 80%;
    padding: 12px 30px;
    font-size: 2.4rem;
    border-style: none;
    color: #f1f5f9;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 20px;
    filter: brightness(90%);
}

.cta-btn:hover{
    color: #fb923c;
    box-shadow: 0 5px 56px -25px #fb923c ;
}

.projects{
    height: 100vh;
    background-color: #fff;
    padding: 20px;
}

.projects-heading{
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
}

.underlined{
    text-decoration:#ea580c underline 4px;
    text-underline-offset: 1.8rem;
}

.projects-wrapper{
    display: flex;
    flex-direction: column;
}

.project{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    padding: 20px 0;
    color: #333;
}

.reverse{
    flex-direction: row-reverse;
}

.project-info{
    width: 35%;
}

.project h2{
    font-size: 2.4rem;
    color: #ea580c;
}

.project p {
    font-family: "Domine", serif;
    font-size: 1.8rem;
}

.project a {
    font-family: "Domine", serif;
    text-decoration: underline #fb923c;
    font-size: 1.8rem;
    color: #ea580c;
    font-weight: 600;
}

.project a:hover{
    text-decoration: underline 2px #ea580c;
}

.preview{
    width: auto;
    max-width: 65%;
    border: 2px solid #020617;
}

.line{
    width: 100%;
    height: 2px;
    margin-top: 0.5rem;
    background-color: #020617;
}

.label{
    font-family:"Domine" , serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.4rem;
}